body{
    background-color: cornflowerblue;
}
.login{
    width:300px;
    height:350px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.login h2{
    display:inline-block;
    color:grey;
}
.login input{
    width: 100px;
    height:30px;
    border-radius: 10px;
    border: 1px sol; 
}
.login button{
    width: 220px;
    height:30px;
}